// pagina principal
$yellow: #fff159;
$gray: #333333;
$grayMedium: #666666;
$grayLight: #999999;
$background: #EEEEEE;
$blue: #3483FA;
$white: #FFFFFF;
$lightHover: #f5f5f5;

// spaces 
$smallSpace: 16px;
$space: 32px;
$border: 4px;
$imageSize: 180px;
$imageSizeDetail: 680px;

// Breackpoints for media query
$mobile: 300px;
$tablet: 600px;
$desktop: 768px;
$bigScreen: 1280px;

// Font sizes
$h1: 24px;
$h2: 18px;
$p: 14px;
$span: 12px;